In [19]:

import numpy as np
import pandas as pd

import plotly.graph_objects as go


#leer los 5 archivos en la carpeta de Datos cargar y solo la hoja llamada "Datos" de cada uno
df_agrupado = pd.read_excel('Datos/rx fijo Calculadora de dosis HUN 2024 V4 (Autoguardado).xlsm', sheet_name='Datos')
df1 = pd.read_excel('Datos/datos 00 Calculadora de dosis HUN 2024.xlsm', sheet_name='Datos')
df2 = pd.read_excel('Datos/datos 0 Calculadora de dosis HUN 2024 V3.0.xlsm', sheet_name='Datos')
df3 = pd.read_excel('Datos/datos 01 Calculadora de dosis HUN 2024 V3.0.xlsm', sheet_name='Datos')
df4 = pd.read_excel('Datos/fluoro rx Calculadora de dosis HUN 2025 V4.0.xlsm', sheet_name='Datos')
df5 = pd.read_excel('Datos/rx fijo 1 Calculadora de dosis HUN 2025 V4.0.xlsm', sheet_name='Datos')

#imprime el numero de filas de cada df
print("Numero de filas df1:", len(df1))
print("Numero de filas df2:", len(df2))
print("Numero de filas df3:", len(df3))
print("Numero de filas df4:", len(df4))
print("Numero de filas df5:", len(df5))
print("Numero de filas df_agrupado:", len(df_agrupado))

Numero de filas df1: 113
Numero de filas df2: 72
Numero de filas df3: 268
Numero de filas df4: 68
Numero de filas df5: 49
Numero de filas df_agrupado: 1626

In [20]:
#imprime la info() de cada df
print("Info df1:")
print(df1.info())
print("Info df2:")
print(df2.info())
print("Info df3:")
print(df3.info())
print("Info df4:")
print(df4.info())
print("Info df5:")
print(df5.info())
print("Info df_agrupado:")
print(df_agrupado.info())

Info df1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    113 non-null    datetime64[ns]
 1   Estudio                  113 non-null    object
 2   Peso[kg]                 113 non-null    int64
 3   Distancia foco-detector  113 non-null    object
 4   Proyección               113 non-null    object
 5   kV                       113 non-null    int64
 6   mAs                      113 non-null    float64
 7   Img Aprobadas            113 non-null    int64
 8   Img Rechazadas           104 non-null    float64
 9   Dosis [mGy]              113 non-null    float64
 10  Dosis Total [mGy]        56 non-null     object
dtypes: datetime64[ns](1), float64(3), int64(3), object(4)
memory usage: 9.8+ KB
None
Info df2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    71 non-null     datetime64[ns]
 1   Estudio                  71 non-null     object
 2   Peso[kg]                 71 non-null     float64
 3   Distancia foco-detector  71 non-null     object
 4   Proyección               72 non-null     object
 5   kV                       72 non-null     int64
 6   mAs                      72 non-null     float64
 7   Img Aprobadas            72 non-null     int64
 8   Img Rechazadas           72 non-null     int64
 9   Dosis [mGy]              72 non-null     float64
 10  Dosis Total [mGy]        40 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(3)
memory usage: 6.3+ KB
None
Info df3:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    268 non-null    datetime64[ns]
 1   Estudio                  268 non-null    object
 2   Peso[kg]                 268 non-null    int64
 3   Distancia foco-detector  268 non-null    object
 4   Proyección               268 non-null    object
 5   kV                       268 non-null    int64
 6   mAs                      268 non-null    float64
 7   Img Aprobadas            268 non-null    int64
 8   Img Rechazadas           267 non-null    float64
 9   Dosis [mGy]              268 non-null    float64
 10  Dosis Total [mGy]        144 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(3), object(4)
memory usage: 23.2+ KB
None
Info df4:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    68 non-null     datetime64[ns]
 1   Estudio                  68 non-null     object
 2   Peso[kg]                 36 non-null     object
 3   Distancia foco-detector  68 non-null     object
 4   Proyección               68 non-null     object
 5   kV                       68 non-null     int64
 6   mAs                      68 non-null     float64
 7   Img Aprobadas            68 non-null     int64
 8   Img Rechazadas           68 non-null     int64
 9   Dosis [mGy]              68 non-null     float64
 10  Dosis Total [mGy]        38 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(3), object(5)
memory usage: 6.0+ KB
None
Info df5:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    49 non-null     datetime64[ns]
 1   Estudio                  49 non-null     object
 2   Peso[kg]                 22 non-null     float64
 3   Distancia foco-detector  49 non-null     object
 4   Proyección               49 non-null     object
 5   kV                       49 non-null     int64
 6   mAs                      49 non-null     float64
 7   Img Aprobadas            49 non-null     int64
 8   Img Rechazadas           49 non-null     int64
 9   Dosis [mGy]              49 non-null     float64
 10  Dosis Total [mGy]        26 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(3)
memory usage: 4.3+ KB
None
Info df_agrupado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1626 entries, 0 to 1625
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    1488 non-null   datetime64[ns]
 1   Estudio                  1488 non-null   object
 2   Peso[kg]                 1016 non-null   float64
 3   Distancia foco-detector  1491 non-null   object
 4   Proyección               1626 non-null   object
 5   kV                       1626 non-null   float64
 6   mAs                      1626 non-null   float64
 7   Img Aprobadas            1626 non-null   int64
 8   Img Rechazadas           1616 non-null   float64
 9   Dosis [mGy]              1626 non-null   float64
 10  Dosis Total [mGy]        916 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 139.9+ KB
None

## Verificacion si el df_agrupado tiene los datos de los otros df

In [21]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    268 non-null    datetime64[ns]
 1   Estudio                  268 non-null    object
 2   Peso[kg]                 268 non-null    int64
 3   Distancia foco-detector  268 non-null    object
 4   Proyección               268 non-null    object
 5   kV                       268 non-null    int64
 6   mAs                      268 non-null    float64
 7   Img Aprobadas            268 non-null    int64
 8   Img Rechazadas           267 non-null    float64
 9   Dosis [mGy]              268 non-null    float64
 10  Dosis Total [mGy]        144 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(3), object(4)
memory usage: 23.2+ KB

In [22]:
# --- 1) Nos quedamos solo con las filas donde 'Dosis Total [mGy]' no es NaN,es decir cada procedimiento unico
df_totales = df3.dropna(subset=["Dosis Total [mGy]"])

# Convertir "Dosis Total [mGy]" a float, reemplazando la coma por punto
# Convertimos todo a string, reemplazamos coma por punto, y luego a float
df_totales["Dosis Total [mGy]"] = (
    df_totales["Dosis Total [mGy]"]
    .astype(str)
    .str.replace(",", ".", regex=False)
    .astype(float)
)

C:\Users\oscar\AppData\Local\Temp\ipykernel_17256\2572050912.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_totales["Dosis Total [mGy]"] = (

In [23]:
df_totales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 144 entries, 1 to 267
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    144 non-null    datetime64[ns]
 1   Estudio                  144 non-null    object
 2   Peso[kg]                 144 non-null    int64
 3   Distancia foco-detector  144 non-null    object
 4   Proyección               144 non-null    object
 5   kV                       144 non-null    int64
 6   mAs                      144 non-null    float64
 7   Img Aprobadas            144 non-null    int64
 8   Img Rechazadas           143 non-null    float64
 9   Dosis [mGy]              144 non-null    float64
 10  Dosis Total [mGy]        144 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(3)
memory usage: 13.5+ KB

# Verificar si esta incluido

In [24]:
#convertimos primero a string y luego a float todos los df de "Dosis Total [mGy]"
df1["Dosis Total [mGy]"] = df1["Dosis Total [mGy]"].astype(str).str.replace(",", ".", regex=False).astype(float)
df2["Dosis Total [mGy]"] = df2["Dosis Total [mGy]"].astype(str).str.replace(",", ".", regex=False).astype(float)
df3["Dosis Total [mGy]"] = df3["Dosis Total [mGy]"].astype(str).str.replace(",", ".", regex=False).astype(float)
df4["Dosis Total [mGy]"] = df4["Dosis Total [mGy]"].astype(str).str.replace(",", ".", regex=False).astype(float)
df5["Dosis Total [mGy]"] = df5["Dosis Total [mGy]"].astype(str).str.replace(",", ".", regex=False).astype(float)
df_agrupado["Dosis Total [mGy]"] = df_agrupado["Dosis Total [mGy]"].astype(str).str.replace(",", ".", regex=False).astype(float)

In [25]:
#imprime la info() de cada df
print("Info df1:")
print(df1.info())
print("Info df2:")
print(df2.info())
print("Info df3:")
print(df3.info())
print("Info df4:")
print(df4.info())
print("Info df5:")
print(df5.info())
print("Info df_agrupado:")
print(df_agrupado.info())

Info df1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    113 non-null    datetime64[ns]
 1   Estudio                  113 non-null    object
 2   Peso[kg]                 113 non-null    int64
 3   Distancia foco-detector  113 non-null    object
 4   Proyección               113 non-null    object
 5   kV                       113 non-null    int64
 6   mAs                      113 non-null    float64
 7   Img Aprobadas            113 non-null    int64
 8   Img Rechazadas           104 non-null    float64
 9   Dosis [mGy]              113 non-null    float64
 10  Dosis Total [mGy]        56 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(3)
memory usage: 9.8+ KB
None
Info df2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    71 non-null     datetime64[ns]
 1   Estudio                  71 non-null     object
 2   Peso[kg]                 71 non-null     float64
 3   Distancia foco-detector  71 non-null     object
 4   Proyección               72 non-null     object
 5   kV                       72 non-null     int64
 6   mAs                      72 non-null     float64
 7   Img Aprobadas            72 non-null     int64
 8   Img Rechazadas           72 non-null     int64
 9   Dosis [mGy]              72 non-null     float64
 10  Dosis Total [mGy]        40 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(3)
memory usage: 6.3+ KB
None
Info df3:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    268 non-null    datetime64[ns]
 1   Estudio                  268 non-null    object
 2   Peso[kg]                 268 non-null    int64
 3   Distancia foco-detector  268 non-null    object
 4   Proyección               268 non-null    object
 5   kV                       268 non-null    int64
 6   mAs                      268 non-null    float64
 7   Img Aprobadas            268 non-null    int64
 8   Img Rechazadas           267 non-null    float64
 9   Dosis [mGy]              268 non-null    float64
 10  Dosis Total [mGy]        144 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(3)
memory usage: 23.2+ KB
None
Info df4:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    68 non-null     datetime64[ns]
 1   Estudio                  68 non-null     object
 2   Peso[kg]                 36 non-null     object
 3   Distancia foco-detector  68 non-null     object
 4   Proyección               68 non-null     object
 5   kV                       68 non-null     int64
 6   mAs                      68 non-null     float64
 7   Img Aprobadas            68 non-null     int64
 8   Img Rechazadas           68 non-null     int64
 9   Dosis [mGy]              68 non-null     float64
 10  Dosis Total [mGy]        38 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(4)
memory usage: 6.0+ KB
None
Info df5:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    49 non-null     datetime64[ns]
 1   Estudio                  49 non-null     object
 2   Peso[kg]                 22 non-null     float64
 3   Distancia foco-detector  49 non-null     object
 4   Proyección               49 non-null     object
 5   kV                       49 non-null     int64
 6   mAs                      49 non-null     float64
 7   Img Aprobadas            49 non-null     int64
 8   Img Rechazadas           49 non-null     int64
 9   Dosis [mGy]              49 non-null     float64
 10  Dosis Total [mGy]        26 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(3)
memory usage: 4.3+ KB
None
Info df_agrupado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1626 entries, 0 to 1625
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    1488 non-null   datetime64[ns]
 1   Estudio                  1488 non-null   object
 2   Peso[kg]                 1016 non-null   float64
 3   Distancia foco-detector  1491 non-null   object
 4   Proyección               1626 non-null   object
 5   kV                       1626 non-null   float64
 6   mAs                      1626 non-null   float64
 7   Img Aprobadas            1626 non-null   int64
 8   Img Rechazadas           1616 non-null   float64
 9   Dosis [mGy]              1626 non-null   float64
 10  Dosis Total [mGy]        916 non-null    float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(3)
memory usage: 139.9+ KB
None

In [26]:

# Normalizamos columnas (por si están en distinto orden)
df_agrupado = df_agrupado[df1.columns]  

for i, df in enumerate([df1, df2, df3, df4, df5], start=1):
    df = df[df_agrupado.columns]  # mismas columnas y orden
    merged = df.merge(df_agrupado.drop_duplicates(), how="left", indicator=True)
    
    no_included = merged[merged["_merge"] == "left_only"]
    print(f"--- Registros de df{i} que NO están en df_agrupado ---")
    print(no_included.head())
    print(f"Total: {len(no_included)}\n")

--- Registros de df1 que NO están en df_agrupado ---
       Fecha  Estudio  Peso[kg] Distancia foco-detector Proyección  kV   mAs  \
0 2024-11-14  Rodilla        53                 Camilla      AP-PA  60  10.0
1 2024-11-14   Muñeca        70                 Camilla      AP-PA  55   2.9
2 2024-11-14   Muñeca        62                 Camilla      AP-PA  55   4.5
3 2024-11-14   Muñeca        62                 Camilla        LAT  55   4.5
4 2024-11-14   Muñeca        62                 Camilla    OBLICUO  55   4.5

   Img Aprobadas  Img Rechazadas  Dosis [mGy]  Dosis Total [mGy]     _merge
0              3             0.0         1.77               1.77  left_only
1              3             0.0         0.36               0.36  left_only
2              1             0.0         0.19                NaN  left_only
3              1             0.0         0.19                NaN  left_only
4              1             0.0         0.15               0.53  left_only
Total: 113

--- Registros de df2 que NO están en df_agrupado ---
       Fecha     Estudio  Peso[kg] Distancia foco-detector Proyección  kV  \
0 2024-11-22     Tobillo      65.0                   Bucky      AP-PA  65
1 2024-12-11       Tórax      60.0                   Bucky      AP-PA  85
2 2024-12-12     Abdomen      60.0                   Bucky      AP-PA  83
3 2024-12-12  Col Lumbar      60.0                   Bucky      AP-PA  75
4 2024-12-12  Col Lumbar      60.0                   Bucky        LAT  75

    mAs  Img Aprobadas  Img Rechazadas  Dosis [mGy]  Dosis Total [mGy]  \
0   5.0              1               0         0.13               0.13
1   3.5              1               0         0.11               0.11
2  32.0              1               0         2.57                NaN
3  35.0              1               0         0.87                NaN
4  40.0              2               0         2.19               3.06

      _merge
0  left_only
1  left_only
2  left_only
3  left_only
4  left_only
Total: 72

--- Registros de df3 que NO están en df_agrupado ---
       Fecha Estudio  Peso[kg] Distancia foco-detector Proyección   kV  mAs  \
0 2024-11-25     Pie        63                   Bucky      AP-PA   57  4.5
1 2024-11-25     Pie        63                   Bucky        LAT   54  4.5
2 2024-11-26     Pie        63                   Bucky      AP-PA   57  4.5
3 2024-11-26     Pie        63                   Bucky        LAT   54  4.5
4 2024-11-26   Tórax        56                   Bucky      AP-PA  106  2.5

   Img Aprobadas  Img Rechazadas  Dosis [mGy]  Dosis Total [mGy]     _merge
0              1             0.0         0.09                NaN  left_only
1              1             0.0         0.08               0.17  left_only
2              1             0.0         0.09                NaN  left_only
3              1             0.0         0.08               0.17  left_only
4              1             0.0         0.12                NaN  left_only
Total: 268

--- Registros de df4 que NO están en df_agrupado ---
       Fecha          Estudio Peso[kg] Distancia foco-detector Proyección  kV  \
0 2025-03-09           Lumbar      NaN                 Camilla        LAT  70
1 2025-03-09           Lumbar      NaN                 Camilla    OBLICUO  70
2 2025-03-09  Dorsal torácica      NaN                 Camilla        LAT  70
3 2025-03-09  Dorsal torácica      NaN                 Camilla    OBLICUO  70
4 2025-03-09           Pelvis      NaN                 Camilla        LAT  70

    mAs  Img Aprobadas  Img Rechazadas  Dosis [mGy]  Dosis Total [mGy]  \
0  30.0              1               0         3.54                NaN
1  60.0              1               0         6.67              10.21
2  30.0              1               0         2.90                NaN
3  60.0              1               0         7.40              10.30
4  30.0              1               0         2.75                NaN

      _merge
0  left_only
1  left_only
2  left_only
3  left_only
4  left_only
Total: 68

--- Registros de df5 que NO están en df_agrupado ---
       Fecha          Estudio  Peso[kg] Distancia foco-detector Proyección  \
0 2025-03-09           Lumbar       NaN                 Camilla        LAT
1 2025-03-09           Lumbar       NaN                 Camilla    OBLICUO
2 2025-03-09  Dorsal torácica       NaN                 Camilla        LAT
3 2025-03-09  Dorsal torácica       NaN                 Camilla    OBLICUO
4 2025-03-09           Pelvis       NaN                 Camilla        LAT

   kV   mAs  Img Aprobadas  Img Rechazadas  Dosis [mGy]  Dosis Total [mGy]  \
0  70  30.0              1               0         3.54                NaN
1  70  60.0              1               0         6.67              10.21
2  70  30.0              1               0         2.90                NaN
3  70  60.0              1               0         7.40              10.30
4  70  30.0              1               0         2.75                NaN

      _merge
0  left_only
1  left_only
2  left_only
3  left_only
4  left_only
Total: 49

C:\Users\oscar\AppData\Local\Temp\ipykernel_17256\535306585.py:6: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  merged = df.merge(df_agrupado.drop_duplicates(), how="left", indicator=True)
C:\Users\oscar\AppData\Local\Temp\ipykernel_17256\535306585.py:6: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  merged = df.merge(df_agrupado.drop_duplicates(), how="left", indicator=True)
C:\Users\oscar\AppData\Local\Temp\ipykernel_17256\535306585.py:6: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  merged = df.merge(df_agrupado.drop_duplicates(), how="left", indicator=True)
C:\Users\oscar\AppData\Local\Temp\ipykernel_17256\535306585.py:6: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  merged = df.merge(df_agrupado.drop_duplicates(), how="left", indicator=True)
C:\Users\oscar\AppData\Local\Temp\ipykernel_17256\535306585.py:6: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  merged = df.merge(df_agrupado.drop_duplicates(), how="left", indicator=True)