In [6]:

import numpy as np
import pandas as pd
import plotly.graph_objects as go


#leer los 5 archivos en la carpeta de Datos cargar y solo la hoja llamada "Datos" de cada uno
df_agrupado = pd.read_excel('Datos/rx fijo Calculadora de dosis HUN 2024 V4 (Autoguardado).xlsm', sheet_name='Datos')
df1 = pd.read_excel('Datos/datos 00 Calculadora de dosis HUN 2024.xlsm', sheet_name='Datos')
df2 = pd.read_excel('Datos/datos 0 Calculadora de dosis HUN 2024 V3.0.xlsm', sheet_name='Datos')
df3 = pd.read_excel('Datos/datos 01 Calculadora de dosis HUN 2024 V3.0.xlsm', sheet_name='Datos')
df4 = pd.read_excel('Datos/fluoro rx Calculadora de dosis HUN 2025 V4.0.xlsm', sheet_name='Datos')
df5 = pd.read_excel('Datos/rx fijo 1 Calculadora de dosis HUN 2025 V4.0.xlsm', sheet_name='Datos')

## Verificacion si el df_agrupado tiene los datos de los otros df

In [7]:
df_agrupado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1626 entries, 0 to 1625
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    1488 non-null   datetime64[ns]
 1   Estudio                  1488 non-null   object
 2   Peso[kg]                 1016 non-null   float64
 3   Distancia foco-detector  1491 non-null   object
 4   Proyección               1626 non-null   object
 5   kV                       1626 non-null   float64
 6   mAs                      1626 non-null   float64
 7   Img Aprobadas            1626 non-null   int64
 8   Img Rechazadas           1616 non-null   float64
 9   Dosis [mGy]              1626 non-null   float64
 10  Dosis Total [mGy]        916 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 139.9+ KB

In [ ]:
# --- 1) Nos quedamos solo con las filas donde 'Dosis Total [mGy]' no es NaN,es decir cada procedimiento unico
df_totales = df_agrupado.dropna(subset=["Dosis Total [mGy]"])

# Convertir "Dosis Total [mGy]" a float, reemplazando la coma por punto
df_totales["Dosis Total [mGy]"] = df_totales["Dosis Total [mGy]"].str.replace(",", ".").astype(float)

In [9]:
df_totales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 916 entries, 0 to 1625
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Fecha                    785 non-null    datetime64[ns]
 1   Estudio                  785 non-null    object
 2   Peso[kg]                 501 non-null    float64
 3   Distancia foco-detector  788 non-null    object
 4   Proyección               916 non-null    object
 5   kV                       916 non-null    float64
 6   mAs                      916 non-null    float64
 7   Img Aprobadas            916 non-null    int64
 8   Img Rechazadas           908 non-null    float64
 9   Dosis [mGy]              916 non-null    float64
 10  Dosis Total [mGy]        916 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 85.9+ KB